
body {
	font-family: Arial, sans-serif;
	margin: 20px;
}

h1 {
	color: #333;
	font-size: 28px;
	margin-bottom: 10px;
}

p {
	color: #666;
	font-size: 18px;
	margin-bottom: 10px;
}

ul {
	list-style-type: disc;
	color: #666;
	font-size: 16px;
	margin-left: 20px;
	margin-bottom: 10px;
}

li {
	margin-bottom: 5px;
}
